@font-face {
    font-family: 'ralewaythin';
    src: url('raleway-variablefont_wght-webfont.woff2') format('woff2'),
        url('raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
font-face {
    font-family: 'MyWebFont';
    src: url('WebFont.eot');
    src: url('WebFont.eot?#iefix') format('embedded-opentype'),
        url('WebFont.woff') format('woff'),
        url('WebFont.ttf') format('truetype'),
        url('WebFont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;

}
    

    html, body {
        display: flex;
        height: 100vw;
    
    }
    body {
        font-family: "Raleway", "Sans serif";
         display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0;
     }
     a {
         text-decoration: none;
         color: initial;
     }
     
     
     #logo img{
         display: block;
         margin: auto;
         width: 45%;
     }
    .proj-header{
        margin-top: 20px;
    }
    .proj-description{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: whitesmoke;
    }
.position{
    background-color: gainsboro;
    text-align: center;
    margin-top: 10px;
    font-size: 65%;
}
   .proj-description h1, p{
        text-align: center;
        max-width: 80%;
        margin-top: 30px;
    }
    .projet-description_btn{
        margin-top: 15px;
        margin-bottom: 15%;
    }
    .Proj-description__btn{
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 0.7rem 1.4rem;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 16px;
    background: linear-gradient(0deg, #9356DC , #FF79DA);

    }
    .proj-description p{
    margin-top: -10px;
    }
    .proj-Fonctionnement{
     display: flex;
     flex-direction: column;
     align-items: center;
     
}

.Proj-fonctionnement__btn{
    display: flex;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 1.3rem 5rem;
    cursor: pointer;
    border: none;
    margin-top: 15px;
    background-color: whitesmoke;
}
.proj-Fonctionnement h1{
    
    margin-right: auto;
    margin-left: 19px;
}
.Proj-fonctionnement__btn:hover{
    background-color: lavender;
    box-shadow: 0px 0px 35px #dadada;
}
#Ménilmontant {
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg")
}
#Charonne{
    background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
#Cité_Rouge{
    background-image: url("../images/restaurants/Ménilmontant.jpg");
}
#Folie_Méricourt{
    background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.Proj-restaurants__image{
        height: 210px;
        background-size: cover;
        background-position: bottom;
        border-radius: 15px 15px 0 0;
        width: 100%;
}
.Proj-restaurants__texte{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    width: 97%;
    padding-top: 199px;
}
.Proj-restaurants__texte p{
    margin-top: -12px;
    margin-bottom: 8px;
    margin-right: 69%;
    width: 40%;
}
.Proj-restaurants__texte i{
    margin-left: 27%;

}
#Proj-restaurants h1{
        margin-left:5%;
    
}
.Proj-restaurants__Nouveau{
    
        border-radius: 20px;
        background-color: white;
        box-shadow: 0px 0px 35px #dadada;
        display: block;
        margin: auto;
        padding-bottom: 90px;
        margin-bottom: 30px;
        cursor: pointer;
        width: 90%;
}

