.fondnoir {
  background-color: #303030;
  color: white;
  padding-bottom: 9%;
  padding-top: 1%;
  a {
    color: #dadada;
    font-size: 20px;
  }

  ul {
  list-style-type: none;
  padding-left: 25px;
}

li {
  margin-bottom: 5px;
  display: inline-block;
  margin-right: 2%;
  
}
 h1 {
    margin-left: 25px;
    font-size: 30px;
    font-family: Shrikhand;
    margin-top: 1%;
  }

  i {
    font-size: 20px;
    margin-right: 5px;
  }
  
}
@media (min-width: 700px) and (max-width: 1024px) { 
  .fondnoir {
    background-color: #303030;
    color: white;
    padding-bottom: 65px;
    padding-top: 10px;
    display: block;
    li{
      display: initial;
    }
}
}

@media all and (max-width: 700px) {

  .fondnoir {
  
      background-color: #303030;
      color: white;
      padding-bottom: 0;
      padding-top: 0;
      display: block;
      a {
        color: #dadada;
        font-size: 16px;
      }
     
    }
    
    ul {
      list-style-type: none;
      padding-left: 25px;
    }
    
    li {
      margin-bottom: 5px;
      display: flex;
    }
    
    .fondnoir {
      h1 {
        margin-left: 25px;
        font-size: 20px;
        font-family: Shrikhand;
        margin-top: 20px;
      }
    
      i {
        font-size: 14px;
        margin-right: 5px;
      }
    }
  .fondnoir li{
    display: flex;
  }
  }


  