

.Proj-restaurants__texte {
  margin-top: -10px;
  margin-left: 10px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  width: 99%;
  padding-top: 210px;

   
  p {
    margin-top: -12px;
    margin-bottom: 8px;
    margin-right: 69%;
    width: 40%;
    text-align: initial;
    font-weight: lighter;
    font-size: 19px;
  }
  h3{
    margin-bottom: 0;
  }
  i {
    margin-left: 80%;
    margin-top: -15%;
  
    font-size: 30px;
    font-weight: 100;
  }
  i:hover{
    font-weight: 900;
    color: violet;
  }
}

#Proj-restaurants h1 {
  margin-left: 5%;
  padding-top: 0%;
  padding-bottom: 4%;
  position: absolute;
  font-size: 27px;
}
.proj-Fonctionnement {
  display: flex;
  align-items: baseline;
  h1 {
    font-size: 28px;
    margin: revert;
    position: absolute;
    margin-right: auto;
    margin-left: 30px;
  }
  p {
    text-align: center;
    max-width: 100%;
    margin-top: inherit;
  }
}
.Proj-fonctionnement__btn {
  .fa-1, .fa-2, .fa-3{
  font-size: 14px;
  margin: auto;
  margin-left: -62px;
  margin-top: 15px;
  position: absolute;
  color: white;
  }
  .fa-2{
    margin-left: -61px;
  }
  .fa-3{
    margin-left: -62px;
    margin-top: 16px;
    
  }
  .fa-circle{
    font-size: 22px;
    margin: auto;
    margin-left: -38%;
    margin-top: 12px;
    position: relative;
    color: #9356DC;
  }
}




@media all and (max-width: 700px) {
.Proj-restaurants__texte {
    margin-top: -10px;
    margin-left: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    width: 99%;
    padding-top: 210px;

     
    p {
      margin-top: -12px;
      margin-bottom: 8px;
      margin-right: 69%;
      width: 40%;
      text-align: initial;
      font-weight: lighter;
      font-size: 19px;
    }
    h3{
      margin-bottom: -15px;
    }
    i {
      margin-left: 82%;
      margin-top: 5px;
      font-size: 30px;
      font-weight: 100;
    }
    i:hover{
      font-weight: 900;
      color: violet;
    }
  }
  
  #Proj-restaurants h1 {
    margin-left: 5%;
    padding-top: 5%;
    padding-bottom: 2%;
    position: initial;
  }
  .proj-Fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 18px;
      margin-top: 14%;
      margin-right: auto;
      margin-left: 20px;
      position: initial;
    }
    p {
      text-align: center;
      max-width: 100%;
      margin-top: inherit;
    }
  }

  .Proj-fonctionnement__btn {
    .fa-1, .fa-2, .fa-3{
    font-size: 14px;
    margin: auto;
    margin-left: -90px;
    margin-top: 15px;
    position: absolute;
    color: white;
    }
    .fa-2{
      margin-left: -91px;
    }
    .fa-3{
      margin-left: -91px;
      margin-top: 16px;
      
    }
    .fa-circle{
      font-size: 22px;
      margin: auto;
      margin-left: -26%;
      margin-top: 12px;
      position: absolute;
      color: #9356DC;
    }
  }
  

}