.Proj-restaurants__texte {
    margin-top: -10px;
    margin-left: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    width: 99%;
    padding-top: 210px;

     
    p {
      margin-top: -12px;
      margin-bottom: 8px;
      margin-right: 69%;
      width: 40%;
      text-align: initial;
      font-weight: lighter;
      font-size: 19px;
    }
    h3{
      margin-bottom: 0;
    }
    i {
      margin-left: 80%;
      margin-top: -15%;
    
      font-size: 30px;
      font-weight: 100;
    }
    i:hover{
      font-weight: 900;
      color: violet;
    }
  }
  
  #Proj-restaurants h1 {
    margin-left: 5%;
  }
  .proj-Fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      margin-top: 14%;
      margin-right: auto;
      margin-left: 20px;
    }
    p {
      text-align: center;
      max-width: 100%;
      margin-top: inherit;
    }
  }
  