
.Menu {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5%;
  background-color: whitesmoke;

 i {
  list-style: none;
  position: absolute;
  margin-left: 77%;
  margin-top: -12%;
  font-size: 25px;
  visibility: hidden;
}
.entrées{
  margin-left: 12px;
  margin-right: 3%;
}
.plats{
  margin-top: -85px;
  margin-right: 3%;
}
.DESSERTS{
 margin-top: -85px; 
}
}
@media (max-width: 700px) {
  .Menu {
      background-color: whitesmoke;
    }
    .Menu i {
      list-style: none;
      position: absolute;
      margin-left: 77%;
      margin-top: -12%;
      font-size: 25px;
      visibility: hidden;
    }
  }