
.Menu {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0px;
  background-color: whitesmoke;

 ;
.fa-circle-check{
  visibility: hidden;
}
.entrées{
  margin: auto;
  margin-left: 45px;
  margin-right: 3%;
}
.plats{
  margin: auto;
  margin-top: -85px;
  margin-right: 3%;
}
.DESSERTS{
  margin: auto;
 margin-top: -85px;
 margin-right: 45px; 
}
}
@media screen and (min-width: 768px) and (max-width: 1024px) { 
  
.Menu {
  background-color: whitesmoke;
  display: block;

.entrées{
  margin-left: 0px;
  margin-right: 0;
}
.plats {
  margin-top: 0; 
   margin-right: 0; 
}
.fa-circle-check{
  list-style: none;
  position: absolute;
  margin-left: 291px;
  margin-top: -50px;
  font-size: 27px;
  visibility: hidden;
}
.fa-circle-check:hover {
  list-style: none;
  position: absolute;
  margin-left: 291px;
  margin-top: -50px;
  font-size: 27px;
  visibility: visible;
  color: white;
}
.entrées {
  margin-left: 0px;
  margin-right: 0;
}
.plats {
  margin-top: 0; 
   margin-right: 0; 
}
.DESSERTS {
margin-top: 0px;
margin-right: 0px;
}
}

}

@media all and (max-width: 700px){
  .Menu {
      background-color: whitesmoke;
      display: block;
    
    .entrées{
      margin-left: 0px;
      margin-right: 0;
    }
    .plats {
      margin-top: 0; 
       margin-right: 0; 
    }
    .fa-circle-check{
      list-style: none;
      position: absolute;
      margin-left: 291px;
      margin-top: -50px;
      font-size: 27px;
      visibility: hidden;
    }
    .fa-circle-check:hover {
      list-style: none;
      position: absolute;
      margin-left: 291px;
      margin-top: -50px;
      font-size: 27px;
      visibility: visible;
      color: white;
    }
    .entrées {
      margin-left: 0px;
      margin-right: 0;
    }
    .plats {
      margin-top: 0; 
       margin-right: 0; 
    }
    .DESSERTS {
    margin-top: 0px;
    margin-right: 0px;
    }
    }
    
}
