


h5 {
  margin-left: 13px;
  margin-right: 0%;
  border-bottom: 3px solid #99E2D0;
  font-weight: lighter;
  padding-bottom: 5px;
  margin-top: 40px;
}
Menu_texte p:hover{
  background-color: #99E2D0;
  transition-property: transform;
  transition-duration: 1000ms;
  

  }
  

.Menu_texte{
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 1%;
  margin-bottom: 20px;
}

.Menu{
.titre {
background-color: whitesmoke;
margin-top: -50px;
padding-top: 15px;
padding-left: 15px;
border-radius: 50px 50px 0px 0px;
font-size: 19px;
}
.fa-heart{
  margin-left: 84%;
  font-weight: lighter;
  font-size: 25px;
  margin-top: -20px;
}
i:hover{
  font-weight: 900;
  color: violet;
}
h2 {
  margin-bottom: -28px;
  font-family: Shrikhand;
}
}
.Menu{
  h3 {
    margin-top: 0px;
    font-weight: 500;
    margin-left: -35px;
    font-size: 15px;
  }

  h4 {
    margin-top: -14px;
    font-weight: lighter;
    font-size: 13px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: -35px;
  }

  p {
    margin-top: -14px;
     margin-left: 206px;
    font-size: 12px;
    font-weight: 900;
    transform: scale(1);
  }
}
h5 {
  margin-left: 60px;
  margin-right: 70%;
  border-bottom: 3px solid #99E2D0;
  font-weight: lighter;
  padding-bottom: 5px;
  margin-top: 40px;
}

.titre {
  background-color: whitesmoke;
  margin-top: -50px;
  padding-top: 15px;
  padding-left: 17px;
  border-radius: 50px 50px 0px 0px;
  font-size: 22px;

  i {
    margin-left: 90%;
    font-weight: lighter;
    font-size: 25px;
    margin-top: -20px;
  }

  i:hover{
    font-weight: 900;
    color: violet;
  }
  
  h2 {
    margin-bottom: -28px;
    font-family: Shrikhand;
    color: black;
    margin-left: 20px;
    font-size: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) { 
  .Menu{
    h3 {
      margin-top: 0px;
      font-weight: 500;
      margin-left: -13px;
      font-size: 20px;
    }
  
    h4 {
      margin-top: -14px;
      font-weight: lighter;
      font-size: 18px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-left: -15px;
    }
  
    p {
      margin-top: -14px;
       margin-left: 645px;
      font-size: 16px;
      font-weight: 900;
      transform: scale(1);
    }
  }
}
@media all and (max-width: 700px) {
Menu {
  h3 {
    margin-top: 2px;
    font-weight: 500;
  }

  h4 {
    margin-top: -15px;
    font-weight: lighter;
    font-size: 15px;
    padding-bottom: 5px;
  }

  p {
    margin-top: -39px;
    margin-left: 85%;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 900;
  }
}
h5 {
  margin-left: 13px;
  margin-right: 87%;
  border-bottom: 3px solid #99E2D0;
  font-weight: lighter;
  padding-bottom: 5px;
  margin-top: 40px;
}
Menu_texte p:hover{
  background-color: #99E2D0;
  transition-property: transform;
  transition-duration: 1000ms;
  

  }
  
Menu {
.Menu_texte{
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 1%;
  margin-bottom: 20px;
}

h3 {
  margin-top: 2px;
  font-weight: 500;
}

h4 {
  margin-top: -15px;
  font-weight: lighter;
  font-size: 15px;
  padding-bottom: 5px;
}

p {
  margin-top: -39px;
  margin-left: 85%;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 900;
}
}
h5 {
margin-left: 13px;
margin-right: 87%;
border-bottom: 3px solid #99E2D0;
font-weight: lighter;
padding-bottom: 5px;
margin-top: 40px;
}
Menu_texte p:hover{
background-color: #99E2D0;
transition-property: transform;
transition-duration: 1000ms;


}
.Menu {
  h3 {
    margin-top: 2px;
    margin-left: 0%;
    font-weight: 500;
    font-size: 18px;
  }
  h4 {
    margin-top: -14px;
    font-weight: lighter;
    font-size: 15px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-left: 0;
  }
  p {
    margin-top: -26px;
    margin-left: 99%;
    font-size: 15px;
    font-weight: 900;
    transform: scale(1);
  }
}
.titre {
background-color: whitesmoke;
margin-top: -50px;
padding-top: 15px;
padding-left: 15px;
border-radius: 50px 50px 0px 0px;
font-size: 19px;

.fa-heart{
  margin-left: 84%;
  font-weight: lighter;
  font-size: 25px;
  margin-top: -20px;
}
i:hover{
  font-weight: 900;
  color: violet;
}
h2 {
  margin-bottom: -28px;
  font-family: Shrikhand;
}
}
}