.Proj-restaurants__Nouveau {
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 35px #dadada;
    display: block;
    margin: auto;
    padding-bottom: 90px;
    margin-bottom: 30px;
    cursor: pointer;
    width: 90%;
  }
  #Proj-restaurants {
    background-color: whitesmoke;
    margin-top: 20%;
  }
  .Proj-restaurants__image {
    height: 210px;
    background-size: cover;
    background-position: bottom;
    border-radius: 15px 15px 0 0;
    width: 100%;
  }
  .gout_img {
    margin-top: 15px;
  }
  
  